{% extends "base.html" %}

{% block title %}Daniel Duan's Articles{% endblock title %}
{% block content %}
<header>
    <h1><a href="/">Daniel Duan</a>'s Articles</h1>
</header>
<main>
    <section class="meta">
    <i>
    <p>Below are a complete list of articles I posted on this site. Each article is tagged with related topics. You can subscribe to this list at <a href="/feed.xml">{{base_url}}/feed.xml</a> or subscribe to a topic such as "Swift" at <a href="/tags/swift/feed.xml">{{base_url}}/tags/swift/feed.xml</a></p>
    </i>
    </section>
    <ul>
        {% for post in items %}
        <li>
            <p><a href="{{post.meta.current_url}}">{{post.meta.title}}</a></p>
            <p class="meta article-meta">
                {{ post.date }}
                {% for tag in post.tags %}
                ·
                <a href="/tags/{{tag.slug}}">{{tag.name}}</a>
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
</main>
{% endblock content %}
