{% extends "base.html" %}

{% block title %}Daniel Duan's Articles About {{tag.name}}{% endblock title %}
{% block content %}<header>
    <h1><a href="/">Daniel Duan</a>'s <a href="/articles/">Articles</a> About '{{tag.name}}' </h1>
</header>
<main>
    <ul>{% for post in items %}
        <li>
            <p><a href="{{post.current_url|safe}}/">{{post.meta.title}}</a></p>
            <p class="metainfo article-meta">
                {{post.date}}{% for tag in post.tags %}
                ·
                <a href="/tag/{{tag.slug}}/">{{tag.name}}</a>{% endfor %}
            </p>
        </li>{% endfor %}
    </ul>
</main>
{% endblock content %}
