{% extends "base.html" %}

{% block title %}Article Tags{% endblock title%}

{% block content %}
<header>
    <h1><a href="/">Daniel Duan</a>'s Tags for <a href="/articles">Articles</a></h1>
</header>
<main>
    <table>
        {% for term in terms %}
        {% set count = term.pages | length %}
        <tr>
            <td>{{ term.name }}</td>
            <td><a href="/tags/{{ term.slug | slugify }}">{{ term.pages | length }} article{{ count | pluralize }} </a></td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
