@import url("theme-light.css") (prefers-color-scheme: light);
@import url("theme-dark.css") (prefers-color-scheme: dark);

:root {
    --main-text-color: black;
    --content-margin: 64px;
    --font-normal: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --font-emphasize: Georgia, Cambria, "Times New Roman", Times, serif;
    --article-meta-color: rgba(0, 0, 0, 0.54);
    --article-meta-font-size: 16px;
    --background-color: white;
    --content-font-size: 21px;
    --code-background: #eeeeee;
    --quote-padding-left: 23px;
    --quote-margin-left: -20px;
    --quote-left-shadow-size: 3px;
    font-size: var(--content-font-size);
    background: var(--background-color);
    color: var(--main-text-color);
    font-family: var(--font-normal);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
@media (max-width: 551.98px) {
    :root {
        --content-font-size: 18px;
        --content-margin: 24px;
        --article-meta-font-size: 14px;
        --quote-padding-left: 14px;
        --quote-margin-left: -11px;
        --quote-left-shadow-size: 1px;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(20, 20, 17);
        --main-text-color: rgb(200, 200, 200);
        --article-meta-color: rgba(255, 255, 255, 0.54);
        --code-background: #272727;
    }
}
a:link, a:hover, a:visited, a:active {
    color: var(--main-text-color);
}
body {
    margin-block-start: 1em;
    margin-block-end: 1em;
}
header, footer, main, article {
    margin: 0 var(--content-margin);
    max-width: 680px;
}
main, article {
    line-height: 1.58;
}
main > ul {
    list-style-type: none;
    padding: 0;
}
code {
    background: var(--code-background);
    padding-left: 0.3em;
    padding-right: 0.3em;
}
pre, pre code {
    overflow: scroll;
    background: var(--background-color) !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
pre::-webkit-scrollbar, pre code::-webkit-scrollbar {
    width: 0;
    height: 0;
}
pre, code {
    font-size: 90%;
}

code {
    background: var(--code-background);
    font-size: 87%;
    padding-left: 0.1em;
    padding-right: 0.1em;
}

blockquote {
    font-family: var(--font-emphasize);
}

blockquote, pre {
    box-shadow: var(--main-text-color) var(--quote-left-shadow-size) 0px 0px 0px inset;
    margin: 0;
    padding-left: var(--quote-padding-left);
    margin-left: var(--quote-margin-left);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-emphasize);
}
h1 {
    font-size: 30px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid var(--main-text-color);
    padding: 10px;
}
.metainfo, .metainfo a {
    color: var(--article-meta-color);
    font-size: var(--article-meta-font-size);
}
.article-meta, .article-meta a {
    text-transform: uppercase;
}
.article-meta {
    margin-top: -10px;
}
img {
    max-width: 100%;
}
hr {
    border-color: var(--article-meta-color);
}
footer .article-meta {
    margin-top: 0;
}
