
{% extends "base.html" %}

{% block meta %}
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="article:published_time" content="{{ page.date }}">
{% endblock meta %}

{% block title %}{{ page.title }}{% endblock title %}

{% block content %}
<article>
    <h1>{{ page.title }}</h1>
    <p class="article-meta">
        <a href="/">Daniel Duan</a>
        ·
        <a href="/articles"><time>{{ page.date | date(format="%Y-%m-%d") }}</time></a>
        {% for tag in page.taxonomies.tags %}
        ·
        <a href="/tags/{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
    </p>
    {{ page.content | safe }}
</article>
{% endblock content %}
