---
layout: page
---
{% assign all = site.documents | where: 'master', true | sort: 'date' | reverse %}

<h3 class="tag-name" id="#{{ page.tag | slugize }}">{TAGGED : {{ page.tag }}}</h3>
<div class="content list">
{% for post in all %}
  <div class="list-item">
    <h2 class="list-post-title">
      {% if post.layout == 'post' %}
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      {% elsif post.layout == 'link' %}
      <h2 class="post-title"><a href="{{ post.link }}">🔗 {{ post.title }}</a></h2>
      {% endif %}
    </h2>
    <div class="list-post-date">
      {% if post.layout == 'link' %}
      <a href="{{ site.baseurl }}{{ post.url }}">
      {% endif %}
      <time>{{ post.date | date_to_string }}</time>
      {% if post.layout == 'link' %}
      </a>
      {% endif %}
      {% if post.tags.size > 0 %} | {% include post-tags.html %}{% endif %}
    </div>
  </div>
{% endfor %}
</div>
